<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.ex02.mapper.FollowMapper">
	<resultMap id="followingProfile" type="FollowVO" autoMapping="true">
		<result property="t_id" column="T_ID"/>
		<association property="member" column="T_ID" javaType="com.spring.ex02.vo.MemberVO" select="com.spring.ex02.mapper.MemberMapper.selectProfileList">
			<id property="user_no" column="USER_NO"/>
		</association>
	</resultMap>
	
	<resultMap id="followerProfile" type="FollowVO" autoMapping="true">
		<result property="m_id" column="M_ID"/>
		<association property="member" column="M_ID" javaType="com.spring.ex02.vo.MemberVO" select="com.spring.ex02.mapper.MemberMapper.selectProfileList">
			<id property="user_no" column="USER_NO"/>
			<result property="name" column="NAME"/>
			<result property="image" column="IMAGE"/>
		</association>
	</resultMap>
	
	
	<!-- 팔로우하기 -->
	<insert id ="insertFollow" parameterType="FollowVO">
		insert into Follow (m_id, t_id) values (#{m_id},#{t_id})
	</insert>
	
	<!-- 언팔로우 -->
	<delete id ="deleteFollow" parameterType="FollowVO">
		delete from Follow where m_id = #{m_id} and t_id = #{t_id}
	</delete>
	
	<!-- 팔로잉 -->
	<select id="selectFollowing" parameterType="int" resultMap="followingProfile">
		select *
		from follow f join (select user_no, id from member) m
		on t_id = m.user_no
		where m_id = #{user_no}
		order by f.regdate desc
	</select>
	
	<!-- 팔로워 -->
	<select id="selectFollower" parameterType="int" resultMap="followerProfile">
		select *
		from follow f join (select user_no, id from member) m
		on m_id = m.user_no
		where t_id = #{user_no}
		order by f.regdate desc
	</select>
	
	<!-- 팔로잉 수 -->
	<select id="countFollow" parameterType="int" resultType="int">
		select count(*) cnt from follow
		where m_id = #{user_no}
	</select>
	
	<!-- 팔로워 수 -->
	<select id="countFollower" parameterType="int" resultType="int">
		select count(*) cnt from follow
		where t_id = #{user_no}
	</select>
	
	<!-- 팔로우 중인가? -->
	<select id="isFollow" resultType="FollowVO">
		select * from follow
		where m_id = #{m_id}
		and t_id = #{t_id}
	</select>
</mapper>